@model PointyPointy.ViewModels.InviteCreatedViewModel

<h2>Invitation sent</h2>

<p>Invitations sent to:</p>

<ul>
    @foreach (var i in Model.ScrumInvite.Users)
    {
        <li>@i.Email</li>
    }
</ul>
